<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block pagename %}Магазин{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            {% block menu %}
                <li><a href="{% url 'platform' %}">Главная</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'goods' %}">Магазин</a></li>
                <li><a href="{% url 'cart' %}">Корзина</a></li>
            {% endblock %}
        </ul>
    </nav>

    <div>
        {% block content %}
        <!-- Контент страницы -->
        {% endblock %}
    </div>
</body>
</html>